---
---

@import "{{ site.theme }}";
img {
  border: 2px solid #000000; /* Adds a 2px solid black border */
  padding: 5px;             /* Adds space between the image and the border */
  /* Optional: add some margin around the entire box so it doesn't touch surrounding elements */
  margin: 10px;
}
